<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.UaiCamping"
        tools:targetApi="31">
        <activity
            android:name=".ui.planos.PlanosActivity"
            android:exported="false" />
        <activity
            android:name=".ui.perfil.StatusCampingActivity"
            android:exported="false" />
        <activity
            android:name=".ui.ajuda.AjudaActivity"
            android:exported="false" />
        <activity
            android:name=".ui.perfil.PerfilUsuarioActivity2"
            android:exported="false" />
        <activity
            android:name=".ui.favoritos.FavoritosActivity"
            android:exported="false" />
        <activity
            android:name=".ui.perfil.PerfilUsuarioActivity"
            android:exported="false" />
        <activity
            android:name=".ui.cadastroCamping.FinalizacaoCadastroActivity"
            android:exported="false" />
        <activity
            android:name=".ui.cadastroCamping.CadastroCampingActivity"
            android:exported="false" />
        <activity
            android:name=".ui.anuncio.AnuncioActivity"
            android:exported="false"
            android:theme="@style/Theme.UaiCamping" />
        <activity
            android:name=".TelaPrincipal"
            android:exported="false"
            android:theme="@style/Theme.UaiCamping" />
        <activity
            android:name=".ui.anuncio.HomeActivity2"
            android:exported="false" />
        <activity
            android:name=".ui.perfil.Redefinir_Senhactivity2"
            android:exported="false" />
        <activity
            android:name=".ui.perfil.CadastrarActivity"
            android:exported="false" />
        <activity
            android:name=".ui.main.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>
